body { /* elements based on name */
    background-color: azure;  /* apply background styles to your elements */
}

h1 {
    color: rgb(255, 99, 71); /* red, green, blue, alpha values */
    margin-left: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    text-align: center;
    color: hsla(63, 77%, 43%, 0.894); /* hue, saturation, lightness, alpha values */
}
p.center { /* specify that only specific HTML elements should be affected by a class. */
    text-align: center;
    color:royalblue;
}

#para1 {  /* Selector ID */
    text-align: left;
    color: salmon;
}

.everything {
    text-align: left;
}
*.everything { /* Universal Selector */
    color:blueviolet;
}

h4, h5 { /* Selector List (element, element) */
    text-align: left;
    color:rgba(84, 169, 140, 0.748);
}

/* Attribute Selector (e.g. [attribute=foo]) */
[alt~="Project"] { 
    border: 5px solid yellowgreen; /* Border */
}
input[type="text"] { 
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color:burlywood;
  }

/* CSS Pseudo-classes */
a.highlight:hover {
    color: #ff0000;
    font-size: 22px;
}

/* CSS Combinators */
/* descendant selector (space) */
div b {
    background-color: yellow;
}
/* Child Combinator (element > element) */
div > ol {
    background-color: pink;
}
/* Adjacent sibling combinator (element + element) */
div + p {
    background-color: orange;
}
/* General sibling combinator (element ~ element) */
div ~ strong {
    background-color: greenyellow;
}
/* Combining Two Selectors (element.class) */
p.everything {
    font-size: 20px;
}

